.main-section {
    background-image: url('../img/img-main.jpeg');
    background-size: cover; /* La imagen cubrirá todo el ancho y largo */
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    text-shadow: 3px 3px 7px #00000030;
}

.main-section.alquiler {
    background-image: url('../img/img-alq.jpg');
}

.main-section.venta {
    background-image: url('../img/img-venta.jpg');
}

.card {
    height: 100px;
}

.card img{
    height: 250px;
}